.todo-item {
  padding: 1rem;
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  cursor: pointer;
  transition: all 0.15s;
  user-select: none;
}

.todo-item:hover .check-mark {
  display: none; /* 마우스를 올렸을 때 체크 표시를 숨김 */
}

.todo-item:hover {
  background: #e3fafc;
}

/* todo-item 에 마우스가 있을때만 .remove 보이기 */
.todo-item:hover .remove {
  opacity: 1;
}

/* todo-item 사이에 윗 테두리 */
.todo-item + .todo-item {
  border-top: 1px solid #f1f3f5;
}

.remove {
  margin-right: 1rem;
  color: #e64980;
  font-weight: 600;
  opacity: 0;
}

.todo-text {
  flex: 1; /* 체크, 엑스를 제외한 공간 다 채우기 */
  word-break: break-all;
}

.checked {
  text-decoration: line-through;
  color: #adb5bd;
}

.check-mark {
  font-size: 1.5rem;
  line-height: 1rem;
  margin-left: 1rem;
  color: #3bc9db;
  font-weight: 800;
}

.todo-item .delete-button {
  display: none; /* 처음에는 숨김 */
}

.todo-item:hover .delete-button {
  display: inline-block; /* hover 시에만 보여줌 */
  margin-left: 10px;
  font-size: 12px;
  cursor: pointer;
}

.delete-button {
  width: 25px; /* 이미지 크기 조정 */
  height: 20px;
  cursor: pointer;
}
