@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f9f9f9;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
}
